*,
*::before,
*::after{
    box-sizing: border-box;
}
/* Custom Properties update for your own design */

:root{
    --ff-priamry: 'Inconsolata', monospace;
    --ff-secondary: 'Ubuntu', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-text: #303030;
    --clr-accent: #16e0bd;
    --clr-secondary: #1797ff;
    --clr-slate: slategrey;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em .25em .75em rgba(0,0,0,.25),
    .0125em 0.125em rgba(0,0,0,.15);
}  

@media (max-width: 800px){
    :root {
        --fs-h1: 4,5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* GENERAL STYLES*/

html{
    scroll-behavior: smooth;
}

body {
    background-attachment: var(--clr-light);
    color: var(--clr-text);
    margin: 0;
    font-family: var(--ff-priamry);
    font-size: var(--fs-body);
    line-height: 1,6;
}

img{
    display: block;
    max-width: 100%;
}

section{
    padding: 5em 2em;
}

strong {font-weight: var(--fw-bold)}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px; 
}

/*BUTTONS*/
.btn{
    display: inline-block;
    padding: .5em 2em;
    background: var(--clr-secondary);
    color: var(--clr-text);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}
/* Typography */

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1{font-size: var(--fs-h1)}

h2{font-size: var(--fs-h2)}

h3{font-size: var(--fs-h3)}

.section_title{
    margin-bottom: .5em;
}

.section_title_intro{
    font-weight: var(--fw-reg);
}

.section_title_intro strong{
    display: block;
}

.section_subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section_subtitle-intro, .section_subtitle-about{
    background-color: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
}

.section_subtitle-about{
    color: var(--clr-text);
    font-weight: var(--fw-reg);
    margin-bottom: 1em;
}

/* Header*/

header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav{
    position: fixed;
    background: var(--clr-slate);
    color: (var(--clr-light));
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250em cubic-bezier(.5, 0, .5, 1);
}
.nav_list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav_link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav-toggle{
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 5em;
    top: 1em;
    z-index: 100;

    transform: translate(0%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav_link:hover{
    color: var(--clr-accent);
}

/*NAV-JS*/

.nav-open .nav{
    transform: translateX(0);
}

.nav-open .nav-toggle{
    position: fixed;
}

.nav-open .hamburger{
    transform: rotate(.625turn);
}

.nav-open .hamburger::before{
    transform: rotate(90deg) translateX(-6px);
}

.hamburger{
    display: block;
    position: relative; 
}


.hamburger
.hamburger::before,
.hamburger::after{
    background: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right:0;
    background-color: var(--clr-text);
}

.hamburger::before{
    top: 6px;
}
.hamburger::after{
    bottom: 6px;
}

/* INTRO SECTION*/

.intro {
    position: relative;
}

.intro_img{
    box-shadow: var(--bs);
}

.section_subtitle-intro{
    display: inline-block;
    font-size: var(--fs-h3);
}

@media (min-width: 600px){
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column: 1em;
        grid-template-areas: 
        'img title'
        'img subtitle';
        grid-template-columns: min-content max-content;
    }
    .intro_img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;

    }
    .section_subtitle-about{
        align-self: start;
        color: var(--clr-text);
        grid-column: 1/-1;
        grid-row: 2;
        text-align: right;
        position: relative;
        padding: 2px;
        left: -1em;
        width: calc(100% * 1.5em);
    }
}



/* My Services section*/

.my-services{
 background-color: var(--clr-accent);
 background-image: url(../img/waterdrop.jpg);
 background-size: cover;
 color: var(--clr-light);
 background-blend-mode: multiply;/*REMOVE LATER*/
 text-align: center;   
}
.section_title-services{
    color: var(--clr-light);
    position: relative;
}

.section_title-services::after{ /*MAYBE REMOVE THIS*/
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5em, auto, 1em;
    position: center;
    background: var(--clr-accent);
    padding: 2px;
    opacity: 0.5;
}

.services{
    margin-bottom: 3em;
}

@media (min-width: 800px){
    .services{
        display: flex;
        max-width: 1000px;
        margin: 0, auto;
    }
    .service + .service {
        margin-left: 2em;
    }
}

/* ABOUT ME*/

.about-me{
    max-width: 1000px;
    margin: 0 auto;
}

.about_me_img{
    box-shadow: var(--bs);
}

@media (min-width: 600px){
    .about-me{
        display: grid;
        grid-template-columns: 1fr 250px;
        grid-template-areas: 
            'title img'
            'subtitle img'
            'text img';
        grid-column-gap: 2em;
    }
    .section_tile{
        grid-area: title;
    }
    .section_subtitle-about{
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width:calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    .about_me_img{
        grid-area: img;
        position: relative;

    }
}

/* MY WORK */

.my-work{
    background-color: var(--clr-slate);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: inline-block;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* NOT WORKING should move imgs side by side*/
}

.portfolio_item {
    float: left;
    background: var(--clr-accent);
    overflow: hidden;
    padding: 5px;
}
.portfolio_img{
    transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1), opacity 250ms linear;
}

.portfolio_item:focus{
    position: relative;
    z-index: 2;
}
.portfolio_img:hover,
.portfolio_item:focus .portforlio_img{
    transform: scale(1.2);
    opacity: .75;
}

/* FOOTER */

.footer{
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a { color: inherit;
text-decoration: none;}

.footer-link{
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.footer_link:hover,
.social-list__link:hover{
    opacity: .7;
}

.footer-link:hover{
    text-decoration: underline;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list_item{
    margin: 0 .5em
}

.social-list__link{
    padding: .5em;
}

/* Individual Projects*/

.portfolio-item-ind{
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-ind p{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}